#resume-wrapper {
    background: hsla(222, 45%, 10%, 0.4);
    width: 21cm;
    height: 29.7cm;
    padding-left: 70px;
    box-sizing: border-box;
    border: 1px solid black;
}

.resume-container {
    background: white;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    font-size: 14px;
    color: hsla(222, 45%, 10%, 0.8);

    a {
        color: hsla(222, 45%, 10%, 0.8);
        text-decoration: none;
    }

    h1 {
        font-size: 38px;
        text-transform: uppercase;
        font-weight: bold;
    }

    h2 {
        color: var(--accent-color);
        font-size: 25.4px;
        text-transform: uppercase;
        font-weight: bold;
    }

    h3 {
        color: var(--accent-color);
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .resume-top, .resume-summary, .resume-history, .resume-bottom, .bottom-left, .bottom-right {
        position: relative;
    }

    .resume-top, .resume-bottom {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .subtitle {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        text-transform: uppercase;
        transform: rotate(-90deg);
        position: absolute; 
        left: -80px;
        top: 0;
        span:first-of-type {
            color: var(--main-light-color);
        }
        span:last-of-type {
            color: hsla(222, 45%, 10%, 0.8);
        }
    }

    .resume-top {
        .subtitle {
            top: 49px;
        }
    }
  
    .top-right {
        display: flex;
        flex-flow: column nowrap;
        width: 250px;

        .info-box {
            display: flex;
            flex-flow: row nowrap;
            margin: 4px;
            background: white;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        .info-icon {
            color: var(--accent-color);
            margin-right: 10px;
        }
    }

    .resume-summary, .resume-history, .bottom-left, .bottom-right {
        margin-top: 20px;
        border-left: 1px solid var(--accent-color);
        padding-left: 20px;
        
        .resume-detail-icon {
            @include round(22px);
            background: var(--accent-color);
            color: white;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            position: absolute;
            left: -12px;
        }
    }

    .resume-summary {    
        line-height: 1.2em;
        .subtitle {
            top: 25px;
        }
    }

    .resume-history {
        .subtitle {
            top: 14px;
        }

        .history-group {
            padding-left: 32px;
            position: relative;

            &::before {
                content: "";
                @include round(6px);
                border: 1px solid hsla(222, 45%, 10%, 0.4);
                position: absolute; 
                top: 22px;
                left: 2px;
            }
            &::after {
                content: "";
                width: 10px;
                height: calc(100% - 37px);
                border-left: 1px solid hsla(222, 45%, 10%, 0.4);
                border-bottom: 1px solid hsla(222, 45%, 10%, 0.4);
                position: absolute;
                top: 30px;
                left: 5px;
            }
        }

        .res-company {
            font-size: 16px;
            position: relative;
            left: -32px;
            .main-accent{
                font-weight: bold;
                font-size: 18px;
            }
            span:last-child {
                font-weight: normal;
                font-style: italic;
                font-size: 14px;
                color: hsla(222, 45%, 10%, 0.4);
            }
        }

        .res-url {
            font-size: 12px;
            margin-top: 2px;
        }

        .res-role {
            font-weight: bold;
            font-size: 16px;
            margin-top: 6px;
            span:last-child {
                font-weight: normal;
                font-style: italic;
                font-size: 13px;
                color: hsla(222, 45%, 10%, 0.4);
            }
        }

        .res-years {
            font-size: 12px;
            margin: 2px 0 4px;
        }

        .res-desc {
            margin-bottom: 10px;
            position: relative;
            &:last-child {
                &::before{
                    content: "";
                    @include round(6px);
                    border: 1px solid hsla(222, 45%, 10%, 0.4);
                    position: absolute; 
                    bottom: 3px;
                    left: -16px;
                }
            }    
        }
    }

    .bottom-left {
        p {
            line-height: 16px;
        }
        .lang-box {
            margin: 10px 0;
        }
        .edu-box {
            margin: 10px 0;
            &:last-of-type {
                margin-bottom: 0;
            }
            p:first-child {
                font-weight: bold;
            }
        }
    }

    .bottom-right {
        width: 250px;
        box-sizing: border-box;
    }

    .sk-box {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .sk-icon {
            font-size: 20px;
            width: 30px;
            height: 22px;
            text-align: center;
            margin-right: 20px;
            color: hsla(222, 45%, 10%, 0.4); // var(--accent-color);
        }
        .sk-name {
            width: 70px;
            margin-right: 20px;
        }
        .sk-prog {
            font-size: 10px;
            i {
                color: var(--accent-color);
                &.far {
                    color: hsla(222, 45%, 10%, 0.4);
                }
                &.fa-star-half-alt {
                    background: linear-gradient(90deg, var(--accent-color) 50%, hsla(222, 45%, 10%, 0.4) 50%);          
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}