#resume-wrapper {
    background: var(--b-gray-4);
    width: 21cm;
    height: 29.7cm;
    padding-left: 70px;
    box-sizing: border-box;
    border: 1px solid var(--b-gray-1);
    margin: 10px auto 0;

    @media screen and (min-width: 21cm) {
        box-shadow: 2px 2px 10px var(--b-gray-2);
    }

    @media screen and (max-width: 20.99cm) {
        padding-left: 0;
        width: 100%;
        height: auto;
        margin: 0;
        border: none;
    }
}

.resume-container {
    background: white;
    width: calc(21cm - 72px);
    height: calc(29.7cm - 2px);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    font-size: 14px;
    color: var(--b-gray-8);

    @media screen and (max-width: 20.99cm) {
        width: 100%;
        height: auto;
    }

    a {
        color: var(--b-gray-8);
        text-decoration: none;
    }

    h1 {
        font-size: 38px;
        text-transform: uppercase;
        font-weight: bold;
    }

    h2 {
        color: var(--accent-color);
        font-size: 25.4px;
        text-transform: uppercase;
        font-weight: bold;

        @media screen and (max-width: 700px) {
            margin-bottom: 20px;
        }
    }

    h3 {
        color: var(--accent-color);
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        left: -28px;
    }
    
    .resume-top, .resume-summary, .resume-history, .resume-sidebar, .sidebar-top, .sidebar-bottom {
        position: relative;
    }

    .resume-top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .subtitle {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        text-transform: uppercase;
        transform: rotate(-90deg);
        position: absolute; 
        font-size: 12px;
        line-height: 14px;
        left: -70px;
        top: 0;
        span:first-of-type {
            color: var(--main-light-color);
        }
        span:last-of-type {
            color: var(--b-gray-8);
        }
    }

    .resume-top {
        .subtitle {
            top: 15px;
        }
    }
  
    .top-right {
        display: flex;
        flex-flow: column nowrap;
        width: 250px;

        .info-box {
            display: flex;
            flex-flow: row nowrap;
            margin: 4px;
            background: white;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        .info-icon {
            color: var(--accent-color);
            margin-right: 14px;
        }
    }

    .resume-summary, .resume-history, .resume-sidebar {
        margin-top: 20px;
        border-left: 1px solid var(--accent-color);
        padding-left: 20px;

        @media screen and (max-width: 20.99cm) {
            margin-top: 20px;
        }
        
        .resume-detail-icon {
            @include round(20px);
            background: var(--accent-color);
            border: 1px solid var(--accent-color);
            color: white;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            position: absolute;
            left: -12px;
        }
    }

    .resume-summary {    
        font-size: 14px;
        line-height: 15px;
        text-align: justify;
        .subtitle {
            top: 0px;
            left: -60px;
        }
    }

    .inner-container {
        display: flex;
        flex-flow: row nowrap;

        @media screen and (max-width: 20.99cm) {
            flex-flow: column nowrap;
        }
    }

    .resume-history {
        .subtitle {
            top: 45px;
            left: -100px;
        }

        .res-company {
            font-size: 16px;
            position: relative;
            left: -30px;

            .main-accent{
                font-weight: bold;
                font-size: 18px;
            }
            span:last-child {
                font-weight: normal;
                font-style: italic;
                font-size: 14px;
                color: var(--b-gray-4);

                @media screen and (max-width: 450px) {
                    display: none;
                }
            }
        }

        .res-url {
            font-size: 12px;
            margin-top: 4px;
        }

        .res-tags {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            margin-top: 7px;
            font-size: 12px;

            @media screen and (max-width: 560px) {
                margin-top: 13px;
            }
            
            span {
                color: var(--accent-color);
                border: 1px solid var(--accent-color);
                border-radius: 5px;
                padding: 2px 4px;
                margin-right: 2px;

                @media screen and (max-width: 560px) {
                    margin-bottom: 6px;
                }
            }
            span:first-child {
                border: none; 
                color: var(--b-gray-4);
                padding: 2px 0;
                font-size: 13px;
                margin-right: 2px;
            }
            span:last-child {
                margin-right: 0;
            }
        }

        .res-role {
            font-weight: bold;
            font-size: 16px;
            margin-top: 7px;

            @media screen and (max-width: 20.99cm) {
                margin-top: 10px;
            }
            span:last-child {
                font-weight: normal;
                font-style: italic;
                font-size: 13px;
                color: var(--b-gray-4);
            }
        }

        .res-years {
            font-size: 12px;
            margin: 2px 0 4px;
            @media screen and (max-width: 20.99cm) {
                margin-top: 4px;
            }
        }

        .res-desc {
            @media screen and (max-width: 20.99cm) {
                margin-top: 6px;
            }
        }

    }

    .grouping {
        padding-left: 24px;
        position: relative;
        margin-bottom: 10px;

        @media screen and (max-width: 20.99cm) {
            margin-bottom: 20px;
        }


        &:last-of-type {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            @include round(6px);
            border: 1px solid var(--b-gray-4);
            position: absolute; 
            top: 22px;
            left: 2px;
        }
        &::after {
            content: "";
            width: 4px;
            height: calc(100% - 37px);
            border-left: 1px solid var(--b-gray-4);
            border-bottom: 1px solid var(--b-gray-4);
            position: absolute;
            top: 30px;
            left: 5px;
        }
    }

    .resume-history .grouping:nth-child(3) {
        margin-top: 3px;
    }

    .res-desc, .grouping > div {
        position: relative;
        &:last-child {
            &::before{
                content: "";
                @include round(6px);
                border: 1px solid var(--b-gray-4);
                position: absolute; 
                bottom: 3px;
                left: -14px;
            }
        }    
    }

    .resume-sidebar {
        display: flex;
        flex-flow: column wrap;
        width: 30%;

        @media screen and (max-width: 20.99cm) {
            flex-flow: row wrap;
            width: 99%;
        }

        .subtitle {
            top: 38px;
            left: -75px;
        }

        .grouping {
            margin: 3px 0 14px;
        }
    }

    .sidebar-top {
        p {
            line-height: 16px;
            margin-bottom: 2px;
        }
        .lang-box {
            margin: 10px 0;
        }
        & .grouping:nth-child(2) {
            @media screen and (max-width: 20.99cm) and (min-width: 700px) {
                display: none;
            }
        }
        .edu-box {
            margin-top: 7px;
            p {
                font-size: 13px;
            }
            p:first-child {
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 10px;

            }
        }
    }

    .sidebar-bottom {
        margin-top: 8px;
        box-sizing: border-box;

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        @media screen and (max-width: 20.99cm) {
            margin-top: 20px;
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    .sidebar-top, .sidebar-bottom {
        @media screen and (max-width: 20.99cm) {
            width: 49%;
        }
        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }

    .sk-box {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 8px;
        @media screen and (max-width: 700px) {
            margin-bottom: 4px;
        }

        .sk-icon {
            font-size: 20px;
            width: 30px;
            height: 21px;
            text-align: center;
            margin-right: 10px;
            color: var(--accent-color);
            background: white;

            @media screen and (min-width: 21cm) {
                display: none;
            }

            @media screen and (max-width: 20.99cm) {
                font-size: 24px;
                height: 24px;
            }
        }
        .sk-name {
            width: 65px;
            margin-right: 8px;
        }
        .sk-prog {
            font-size: 9px;
            @media screen and (max-width: 20.99cm) {
                font-size: 14px;
            }

            i {
                color: var(--accent-color);
                &.far {
                    color: var(--b-gray-4);
                }
                &.fa-star-half-alt {
                    background: linear-gradient(90deg, var(--accent-color) 50%, var(--b-gray-4) 50%);          
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .qr-box {
        color: var(--b-gray-2);
        text-align: center;
        padding-top: 10px;

        @media screen and (max-width: 20.99cm) {
            display: none;
        }

        p:last-of-type {
            margin-top: 6px;
        }

        path {
            fill: var(--accent-color);
            shape-rendering: crispEdges;
        }
    }
}

/* print styles */
@media print and (color) {
    * {
        /* only works on chrome and safari */
       -webkit-print-color-adjust: exact;
       print-color-adjust: exact;
    }
 }

@media print {

    @page {
        margin: 0cm;
     }

    #resume-wrapper {
        border: none;
        margin: 0;
    }
    .resume-container {
        width: calc(21cm - 70px);
        height: 29.7cm;
        overflow: none;
    
        .sidebar-top {
            & .grouping:nth-child(2) {
                // display: none;
            }
        }

        .resume-summary, .resume-history, .resume-sidebar {
            .resume-detail-icon {
                // color: var(--accent-color);
                font-size: 10px;
            }
        }

        .sk-box {
            .sk-icon {
                display: none;
            }
            .sk-prog {
                i {
                    &.far {
                        color: var(--accent-color);
                    }
                    &.fa-star-half-alt {
                        background: none;
                        color: var(--accent-color);
                        -webkit-background-clip: border-box;
                        -webkit-text-fill-color: var(--accent-color);
                    }
                }
            }
        }
    }
}