#about-screen {
    background: var(--main-light-color);
    
}

.about-container {
    display: flex;
    flex-flow: column wrap;

    h2 {
        font-size: 1.8rem;
        color: var(--secondary-light-color);
        line-height: 2.8rem;
    }
    h3 {
        font-size: 1.2rem;
        color: var(--secondary-dark-color);
        line-height: 2.2rem;
    }
    p {
        line-height: 1.1rem;
    }
}

.about-inner {
    display: flex;
    flex-flow: row wrap;

    .about-summary {
        width: 48%;
        min-height: 440px;
        // background: yellow;
        margin: 0 auto;    
    }
    
    .about-img {
        position: relative;
        max-width: 180px;
        transform: rotate(-5deg);
        display: inline-block;
        margin: 16px 22px;
    
        &::after {
            content: "📎";
            position: absolute; 
            top: 0;
            right: 0;
            font-size: 2rem;
            z-index: 2;
        }
    }
    
    .polaroid {
        border: 16px solid white;
        border-bottom-width: 30px;
        border-radius: 1%;
        box-shadow: 1px 1px 3px hsla(222, 45%, 10%, 0.7);
    }
    
    .about-stats {
        min-width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.about-skills {
    display: grid;
    grid-template-columns: 120px 400px;
    grid-template-rows: repeat(8, 30px);
    grid-row-gap: 10px;
    margin: 30px auto 10px;
    line-height: 30px;

    .skill-name {
        background: var(--secondary-light-color);
        color: var(--main-light-color);
        text-align: center;
    }
    
    .skill-box {
        grid-column: 2 / 3;
        grid-row: 1 / span 9;
    }
    
    .skill-row {
        background: hsla(222, 45%, 10%, 0.1);
        display: grid;
        grid-template-columns: repeat(10, 40px);
        grid-template-rows: 1fr;
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
    }
    
    .skill-progress {
        background: var(--secondary-dark-color);
        width: 100%;
        height: 100%;
    }
    
    .skill-percent {
        grid-column: 10 / 11;
        text-align: center;
        color: hsla(222, 45%, 10%, 0.3);
    }
    
    .pg-90  { grid-column: 1 / 10; }
    .pg-80  { grid-column: 1 / 9; }
    .pg-70  { grid-column: 1 / 8; }
    .pg-60  { grid-column: 1 / 7; }
    .pg-50  { grid-column: 1 / 6; }
    .pg-40  { grid-column: 1 / 5; }
    .pg-30  { grid-column: 1 / 4; }
    .pg-20  { grid-column: 1 / 3; }
    .pg-10  { grid-column: 1 / 2; }
}

.about-more {

    ul {
        list-style-type: "»";
        padding-left: 20px;

        li {
            padding-left: 10px;
            color: var(--secondary-dark-color);
            span {
                color: var(--main-dark-color);
            }
        }
    }
}