.moon {
    position: relative;
}

.moon-shape {
    background: hsl(222, 45%, 87%);
    @include round(200px);
    position: relative;
    box-shadow: none;
    z-index: 2;
    animation: moon-glow 2s ease-in-out 16.5s infinite;
}

@keyframes moon-glow {
    50% {
        box-shadow: 0 0 20px hsl(222, 45%, 92%);
    }
}

.moon-craters {
    background: hsla(222, 45%, 10%, 0.4);
    position: absolute;
    box-shadow: inset 1px 1px 2px hsla(222, 45%, 10%, 0.5);

    &.crater1 {
        @include round(20px);
        top: 80px;
        left: 14px;
        transform: rotate(25deg) skew(10deg);
        box-shadow: none;
        opacity: 0.4;
    }
    &.crater2 {
        @include round(30px);
        top: 30px;
        left: 50px;
        opacity: 0.6;
    }
    &.crater3 {
        @include round(25px);
        top: 45px;
        right: 40px;
        transform: rotate(65deg) skew(20deg);
        box-shadow: none;
        opacity: 0.2;
    }
    &.crater4 {
        @include round(32px);
        bottom: 60px;
        right: 20px;
        opacity: 0.5;
    }
    &.crater5 {
        @include round(40px);
        bottom: 20px;
        right: 50px;
        transform: skew(20deg);
        opacity: 0.8;
    }
    &.crater6 {
        @include round(22px);
        bottom: 40px;
        left: 60px;
        opacity: 0.6;
    }
    &.crater7 {
        @include round(36px);
        bottom: 82px;
        left: 90px;
        transform: rotate(25deg) skew(14deg);
    }
}

.moon-shadow {
    background: hsla(222, 45%, 10%, 0.7);
    position: absolute;
    z-index: 2;
    animation: moon-phases 15s linear 1s 1 normal forwards;
}

@keyframes moon-phases {
    0% {
        @include round(260px);
        top: -30px;
        left: -260px;
    }
	45% {
		@include round(200px);
		top: 0px;
		left: 0px;
	}
	55% {
		@include round(200px);
		top: 0px;
		left: 0px;
	}
    99% {
		@include round(260px);
		top: -30px;
        left: 260px;
	}
    100% {
        display: none;
    }
}