.moon-shape {
    background: #aaa;
    @include round(200px);
    position: relative;
    box-shadow: 0 0 30px #ccc;
}

.moon-craters {
    background: #666;
    position: absolute;
    box-shadow: inset 1px 1px 2px #444;

    &.crater1 {
        @include round(20px);
        top: 70px;
        left: 14px;
        
    }

    &.crater2 {
        @include round(30px);
        top: 30px;
        left: 50px;
        
    }
    
    &.crater3 {

        @include round(50px);
        top: 40px;
        right: 30px;
    }
    
    &.crater4 {
        @include round(30px);
        bottom: 30px;
        right: 40px;
    }
    
    &.crater5 {
        @include round(80px);
        bottom: 20px;
        right: 50px;
    }
    
    &.crater6 {
        @include round(20px);
        bottom: 40px;
        left: 60px;
        
        
    }
    
    &.crater7 {
        @include round(40px);
        bottom: 70px;
        left: 60px;
    }
}