:root {
    // blues
    // --main-dark-color:        #0E1525;
    // --main-light-color:       #f9f9f9;
    // --secondary-dark-color:   #2A4656;
    // --secondary-light-color:  #41B4C5;
    // --accent-color:           #E48A3E;

    // greens
    --main-dark-color:        #0E1525; // hsl(222, 45%, 10%);
    --main-light-color:       #f9f9f9;
    --secondary-dark-color:   #226A5B;
    --secondary-light-color:  #50BF9F;
    --accent-color:           #F17229;
}