:root {
    // blues + green
    --main-dark-color:        #0E1525;
    --main-light-color:       #f9f9f9;
    --secondary-dark-color:   #1E616C;
    --secondary-light-color:  #59BFC2;
    --accent-color:           #80bf51;

    --b-gray-1: #e6e7e9;
    --b-gray-2: #cfd0d3;
    --b-gray-3: #b6b8bd;
    --b-gray-4: #9fa1a8;
    --b-gray-5: #868a92;
    --b-gray-6: #6e737c;
    --b-gray-7: #565b66;
    --b-gray-8: #3e4451;
    --b-gray-9: #262c3a;

    // greens + yellow
    // --main-dark-color:        #0E1525; // hsl(222, 45%, 10%);
    // --main-light-color:       #f9f9f9;
    // --secondary-dark-color:   #4B834E;
    // --secondary-light-color:  #7CA048;
    // --accent-color:           #E8BF3C;
}