:root {
    // blues + green
    --main-dark-color:        #0E1525;
    --main-light-color:       #f9f9f9;
    --secondary-dark-color:   #1E616C;
    --secondary-light-color:  #59BFC2;
    --accent-color:           #80bf51;

    // greens + yellow
    // --main-dark-color:        #0E1525; // hsl(222, 45%, 10%);
    // --main-light-color:       #f9f9f9;
    // --secondary-dark-color:   #4B834E;
    // --secondary-light-color:  #7CA048;
    // --accent-color:           #E8BF3C;
}